/*
    FONT STYLE
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');


/* ---------------------------------------------------
    BASE STYLE
----------------------------------------------------- */

body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #0f0f0f;
    color: #fff;
}

.bg {
    position: relative;

    background: #0f0f0f; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0f0f0f 0%, #0a0a0a 25%, #0a0a0a 25%, #0a0a0a 33%, #0a0a0a 75%, #0f0f0f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0f0f0f 0%,#0a0a0a 25%,#0a0a0a 25%,#0a0a0a 33%,#0a0a0a 75%,#0f0f0f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0f0f0f 0%,#0a0a0a 25%,#0a0a0a 25%,#0a0a0a 33%,#0a0a0a 75%,#0f0f0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#0f0f0f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 7em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.1);
    margin: 0;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
    font-weight: 600;
}

h4 {
    font-size: 2em;
    font-weight: 200;
}

p {
    font-size: .9em;
    font-weight: 300;
}

a {
    color: #fff;
}

.short {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ---------------------------------------------------
    LAYOUT STYLE
----------------------------------------------------- */

.m-t-10 {
    margin-top: 10%;
}

.overlap {
    position: absolute;
    right: 30px;
}

.padding-left {
    padding-left: 30px;
}

.padding-right {
    padding-right: 45px;
    margin-left: -45px;
}

.bg-text {

}





/* ---------------------------------------------------
    MODULE STYLE
----------------------------------------------------- */




/* ---------------------------------------------------
    STATE STYLE
----------------------------------------------------- */





/* ---------------------------------------------------
    THEME STYLE
----------------------------------------------------- */






/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (max-width: 575.98px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1080px) {

}

@media (min-width: 1080px) {

}