/* ---------------------------------------------------
    BASE STYLE
----------------------------------------------------- */

body, html {
    height: 100%;
    color: #fff;
}

.bg {
    position: relative;

    background: #0f0f0f; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0f0f0f 0%, #0a0a0a 25%, #0a0a0a 25%, #0a0a0a 33%, #0a0a0a 75%, #0f0f0f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0f0f0f 0%,#0a0a0a 25%,#0a0a0a 25%,#0a0a0a 33%,#0a0a0a 75%,#0f0f0f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0f0f0f 0%,#0a0a0a 25%,#0a0a0a 25%,#0a0a0a 33%,#0a0a0a 75%,#0f0f0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#0f0f0f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3em;
}

/* ---------------------------------------------------
    LAYOUT STYLE
----------------------------------------------------- */





/* ---------------------------------------------------
    MODULE STYLE
----------------------------------------------------- */




/* ---------------------------------------------------
    STATE STYLE
----------------------------------------------------- */





/* ---------------------------------------------------
    THEME STYLE
----------------------------------------------------- */






/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (max-width: 575.98px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1080px) {

}

@media (min-width: 1080px) {

}