{% extends 'justin_laureano/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="m-t-20">
    <div class="row"> <!-- Project Title -->
        <div class="col-auto offset-2">
            <h2>CONTACT</h2>
            <h4>04 Justin Laureano</h4>
        </div>
    </div> <!-- End Project Title -->

    <div class="row"> <!-- Contact Info -->
        <div class="col-12 col-md-3 offset-2">
            <div class="row">
                <div class="col-auto">
                    <h3>PHONE</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <p>+419 957 8952</p>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">
                    <h3>EMAIL</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <p>JUSTINLAUREANO@GMAIL.COM</p>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">
                    <h3>GITHUB</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <p>GITHUB.COM/JUSTINLAUREANO</p>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">
                    <h3>LINKEDIN</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <p>LINKEDIN.COM/JUSTINLAUREANO</p>
                </div>
            </div>
        </div>

        <div class="col-3 offset-2 col-md-3">
            <h3>SAY HELLO</h3>
            <p>
                Send an email or give me a call, whatever your needs I will glady chat. I look forward to hearing from you.
            </p>
        </div>
    </div> <!-- End Contact Info -->
</div>



{% endblock %}