{% extends 'justin_laureano/base.html' %}
{% load staticfiles %}
{% block content %}

<header class="row">
    <div class="header-static col-12 py-3">
        <div class="logo-sm">
            <img src="{% static 'images/portfolio/logo.svg' %}" class="logo-img-sm" alt="Justin Laureano" height="25px">
            <div class="diamond-sm"></div>
        </div>
    </div>
</header>

<div class="row project-landing">
    <div class="col-10 col-sm-3 offset-1 align-self-center pl-0 project-intro">
        <h1 class="sr-intro-sequence text-nowrap">Graphic Design<br>Gallery</h1>
        <p class="gray detail py-2 sr-intro-sequence">
            My Portfolio gallery featuring previous graphic design projects I have completed for clients and as a student.
        </p>
        <a href="http://www.design.justinlaureano.com" class="view-btn my-3 py-2 px-4 text-center view-btn sr-intro-sequence" target="blank">Visit Site</a>
    </div>
    <div class="col-12 col-sm-8 sr-laptop-right">
        <img src="{% static 'images/design/design_home_laptop.png' %}" class="design-home-laptop" alt="Design Gallery Laptop View" class="img-fluid">
    </div>
</div>
<div class="row my-5">
    <div class="col-10 col-sm-5 offset-1 overflow-hidden">
        <p class="text-uppercase font-weight-bold sr-intro-sequence">Identity</p>
        <p class="gray sr-intro-sequence">
            I created this graphic design portfolio in 2015 to showcase work I have completed for clients and projects I completed as a student. The flexible grid layout allows for easy navigation of the designs and provides additional relevant information when clicked. 
    </div>
    <div class="col-10 offset-1 col-sm-5 offset-sm-0 overflow-hidden">
            <p class="text-uppercase font-weight-bold sr-intro-sequence">Specs</p>
            <p class="gray sr-intro-sequence">
                The website was created with standard HTML and CSS with Bootstrap3 for it's responsiveness.
            </p>
        </div>
</div>
<div class="row justify-content-center project-showcase">
    <div class="col-8 text-center">
        <img src="{% static 'images/design/design_port_full.png' %}" alt="The Design Full Project View" class="img-fluid design-full">
        <img src="{% static 'images/design/design_about_tablet.png' %}" alt="The Design About Page View" class="img-fluid showcase-margin">
    </div>
</div>
<div class="row design-phones justify-content-between">
    <div class="col-4 project-phone p-sm-5 sr-phone-showcase">
        <img src="{% static 'images/design/design_erma_phone.png' %}" alt="Design Gallery Max and Erma's Project Mobile View" class="img-fluid design-phone">
    </div>
    <div class="col-4 project-phone p-sm-5 sr-phone-showcase">
        <img src="{% static 'images/design/design_gathering_phone.png' %}" alt="Design Gallery Gathering Project Mobile View" class="img-fluid design-phone">
    </div>
    <div class="col-4 project-phone p-sm-5 sr-phone-showcase">
        <img src="{% static 'images/design/design_vcs_phone.png' %}" alt="Design Gallery VCS Project Mobile View" class="img-fluid design-phone">
    </div>
</div>
<div class="row font-showcase">
    <div class="col-12 offset-sm-1 mt-3 mt-sm- overflow-hidden">
        <p class="text-uppercase font-weight-bold gray mb-1 sr-font-sequence">Heading</p>
        <p class="text-uppercase font-weight-bold h3 oswald sr-font-sequence">Oswald</p>
        <p class="text-uppercase gray oswald mb-5 sr-font-sequence">abcdefghijklmnopqrstuvwxyz</p>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1 overflow-hidden">
        <p class="text-uppercase font-weight-bold gray mb-1 sr-font-sequence">Body</p>
        <p class="text-uppercase font-weight-bold h5 droid sr-font-sequence">Droid Serif</p>
        <p class="text-uppercase gray droid mb-0 sr-font-sequence">abcdefghijklmnopqrstuvwxyz</p>
        <p class="text-lowercase gray droid sr-font-sequence">abcdefghijklmnopqrstuvwxyz</p>
        <p class="text-lowercase gray droid sr-font-sequence">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus natus magni, sint praesentium assumenda corporis eaque impedit esse qui ut.</p>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 col-sm-11 offset-sm-1 overflow-hidden">
        <a href="{% url 'justin_laureano:project_1' %}"><h5 class="ml-3 mb-5 sr-font-sequence">Next: The Gathering</h5></a>
    </div>
</div>

{% endblock %}