{% extends 'justin_laureano/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="landing">
    <div class="portfolio-of">
        <span>The Web Portolio of</span>
    </div>
    <div class="logo">
        <img src="{% static 'images/portfolio/logo.svg' %}" class="logo-img" alt="Justin Laureano" height="100px">
        <div class="diamond"></div>
    </div>
    <div class="logo-name">
        <span>Justin Laureano</span>
    </div>
    
    <div class="scroll-btn text-center">
        <a href="#space">
        <p class="mb-2">View Projects</p>
        <i class="fas fa-chevron-down fa-lg"></i></a>
    </div>
</div>

<header class="row">
    <div class="header col-12 py-3">
        <div class="logo-sm">
            <img src="{% static 'images/portfolio/logo.svg' %}" class="logo-img-sm" alt="Justin Laureano" height="25px">
            <div class="diamond-sm"></div>
        </div>
    </div>
</header>

<div id="space"></div>

<section class="projects" id="projects">
    <div class="row overflow-hidden">
        <div class="col-12 text-center">
            <h2 class="sr-top">Projects</h2>
        </div>
    </div>

    <div class="row project-wrapper"> <!-- The Gathering Project -->
        <div class="col-3  offset-0 offset-sm-1 ml-2 ml-sm-3 d-flex align-items-center">
            <h3 class="sr-left text-nowrap">The<br>Gathering</h3>
            <h3 class="bg-text">The<br>Gathering</h3>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-4 d-flex align-items-end">
                    <img src="{% static 'images/portfolio/gathering_home_phone.png' %}" class="gathering-home-phone" alt="The Gathering Mobile View">
                </div>
                <div class="col-8 d-flex align-items-end">
                    <img src="{% static 'images/portfolio/gathering_home_tablet.png' %}" class="gathering-home-tablet" alt="The Gathering Tablet View">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-0 mt-sm-5">
            <a href="{% url 'justin_laureano:project_1' %}" class="offset-7 offset-sm-8 view-btn py-2 px-4 text-center view-btn">View Project</a>
    </div>

    <div class="row project-wrapper"> <!-- The News Project -->

        <div class="col-7 d-flex align-items-center pl-4">
            <div class="row">
                <div class="col-4 d-flex align-items-center pr-0">
                    <img src="{% static 'images/news/news_frontpage_phone.png' %}" class="news-frontpage-phone" alt="News &amp; Photo Viewer Mobile View">
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/news/news_photo_phone.png' %}" class="news-photo-phone" alt="News &amp; Photo Viewer Mobile View">
                </div>
                <div class="col-4 d-flex align-items-center pl-0">
                    <img src="{% static 'images/news/news_newsfeed_phone.png' %}" class="news-newsfeed-phone" alt="News &amp; Photo Viewer Mobile View">
                </div>
            </div>
        </div>
        <div class="col-3 offset-0 offset-sm-1 ml-0 ml-sm-3 ml-md-4 ml-lg-5 d-flex align-items-center">
            <h3 class="sr-left text-nowrap text-right">News &<br>Photo Viewer</h3>
            <h3 class="bg-text bg-text-news">News &<br>Photo Viewer</h3>
        </div>
    </div>
    <div class="row mt-0 mt-sm-5">
            <a href="{% url 'justin_laureano:project_2' %}" class="offset-1 view-btn py-2 px-4 text-center view-btn">View Project</a>
    </div>

    <div class="row project-wrapper"> <!-- The Trivia Project -->
        <div class="col-3  offset-0 offset-sm-1 ml-2 ml-sm-3 d-flex align-items-center">
            <h3 class="sr-left text-nowrap">Trivia<br>Game</h3>
            <h3 class="bg-text bg-text-trivia">It' Always Sunny<br>In Philadelphia</h3>
        </div>
        <div class="col-8 col-sm-7 d-flex align-items-center px-0 px-sm-3">
            <div class="row">
                <div class="col-4 px-0 px-sm-3">
                    <img src="{% static 'images/trivia/trivia_question_phone.png' %}" class="trivia-question-phone" alt="The Trivia Game Mobile View">
                </div>
                <div class="col-8">
                    <img src="{% static 'images/trivia/trivia_home_tablet.png' %}" class="trivia-home-tablet" alt="The Trivia Game Tablet View">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-0 mt-sm-5">
            <a href="{% url 'justin_laureano:project_3' %}" class="offset-7 offset-sm-8 view-btn py-2 px-4 text-center view-btn">View Project</a>
    </div>

</section>

<div id="space-skills"></div>

<section class="skills my-4 text-center text-sm-left" id="skills">
    <div class="row overflow-hidden">
        <div class="col-12 text-center">
            <h2 class="sr-top">Skills</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-11 offset-sm-1 my-4 text-center text-sm-left overflow-hidden">
            <h4 class="sr-left-sequence">//Code</h4>
        </div>
        <div class="col-12 col-sm-3 offset-sm-1 mr-4 overflow-hidden">
            <p class="text-uppercase font-weight-bold sr-left-sequence">Languages</p>
            <ul class="list-unstyled gray">
                <li class="sr-left-sequence">HTML</li>
                <li class="sr-left-sequence">CSS</li>
                <li class="sr-left-sequence">Javascript</li>
                <li class="sr-left-sequence">Python</li>
            </ul>

            <p class="text-uppercase font-weight-bold sr-left-sequence">Frameworks & Libraries</p>
            <ul class="list-unstyled gray">
                <li class="sr-left-sequence">jQuery</li>
                <li class="sr-left-sequence">Bootstrap</li>
                <li class="sr-left-sequence">React.js</li>
                <li class="sr-left-sequence">Django</li>
            </ul>

            <p class="text-uppercase font-weight-bold sr-left-sequence">CSS Preprocessors</p>
            <ul class="list-unstyled gray">
                <li class="sr-left-sequence">SASS</li>
                <li class="sr-left-sequence">LESS</li>
            </ul>
        </div>
        <div class="col-12 col-sm-3 mr-4 overflow-hidden">
                <p class="text-uppercase font-weight-bold sr-left-sequence">Version Control</p>
            <ul class="list-unstyled gray">
                <li class="sr-left-sequence">Git</li>
                <li class="sr-left-sequence">Github</li>
            </ul>

            <p class="text-uppercase font-weight-bold sr-left-sequence">Debugging</p>
            <ul class="list-unstyled gray">
                <li class="sr-left-sequence">Unit & Functional Testing</li>
                <li class="sr-left-sequence">Chrome / Firefox Developer Tools</li>
            </ul>

            <p class="text-uppercase font-weight-bold sr-left-sequence">Terminal</p>
            <ul class="list-unstyled gray">
                <li class="sr-left-sequence">bash / zsh</li>
                <li class="sr-left-sequence">npm</li>
            </ul>
        </div>

        <div class="col-12 col-sm-3 gray">
            <!-- <p><span class="gray">"</span> Blah Blah Blah Blah Blah Blah<span class="gray">"</span></p> -->
        </div>
    </div>

    <div class="row">
            <div class="col-12 col-sm-11 offset-sm-1 my-4 text-center text-sm-left overflow-hidden">
                <h4 class="sr-left-sequence">//Design</h4>
            </div>
            <div class="col-12 col-sm-3 offset-sm-1 mr-4 overflow-hidden">
                <p class="text-uppercase font-weight-bold sr-left-sequence">Web Design</p>
                <ul class="list-unstyled gray">
                    <li class="sr-left-sequence">SEO</li>
                    <li class="sr-left-sequence">Social Media Integration</li>
                    <li class="sr-left-sequence">Mobile Friendliness</li>
                    <li class="sr-left-sequence">Responsive Design</li>
                    <li class="sr-left-sequence">UI / UX Wireframing</li>
                </ul>

                <p class="text-uppercase font-weight-bold sr-left-sequence">Software</p>
                <ul class="list-unstyled gray">
                    <li class="sr-left-sequence">Adobe Creative Suite</li>
                    <li class="sr-left-sequence">Cinema4d</li>
                </ul>

            </div>
            <div class="col-12 col-sm-3 mr-4 overflow-hidden">
                <p class="text-uppercase font-weight-bold sr-left-sequence">Visual Design</p>
                <ul class="list-unstyled gray">
                    <li class="sr-left-sequence">Typography</li>
                    <li class="sr-left-sequence">Scale & Proportion</li>
                    <li class="sr-left-sequence">Color Theory</li>
                    <li class="sr-left-sequence">Visual Heirarchy</li>
                </ul>
            </div>

        </div>

</section>

<div id="space-about"></div>

<section class="about-me mb-4 text-center text-sm-left">
    <div class="row overflow-hidden">
        <div class="col-12 text-center">
            <h2 class="sr-top">About Me</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center my-0 my-sm-4 perspective">
            <img src="{% static 'images/portfolio/family_phone.png' %}" alt="Family Photo" class="family-phone py-4">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-4 offset-sm-1 mr-4 gray overflow-hidden">
            <p class="sr-about-sequence">Hello! I am Justin Laureano. I am currently residing in beautiful Findlay, OH. I have been designing content for print and the web for about 6 years, ranging from branding design to interactive websites.</p>
            <p class="sr-about-sequence">I spend my time away from designing with my lovely family and pursuing other hobbies such as woodworking, cooking, and reading.</p>
        </div>
        <div class="col-12 col-sm-4 gray overflow-hidden">
            <p class="sr-about-sequence">I am always looking forward to hearing about collaboration ideas and new interesting projects so please feel free to shoot me a message.</p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12 col-sm-4 offset-sm-1 mr-4 overflow-hidden">
            <h4 class="sr-about-sequence">//Education</h4>
            <p class="text-uppercase font-weight-bold mb-0 sr-about-sequence">Owens Community College</p>
            <p class="gray mb-0 sr-about-sequence">Associates of Applied Science</p>
            <p class="gray sr-about-sequence">2012, Honors</p>
        </div>
        <div class="col-12 col-sm-3 overflow-hidden">
                <h4 class="sr-about-sequence">//Contact</h4>
                <ul class="list-unstyled mt-3">
                    <li class="mb-2">
                        <p class="text-uppercase font-weight-bold mb-0 sr-about-sequence">Phone</p>
                        <p class="sr-about-sequence"><a href="tel:419-957-8952">419 957 8952</a></p>
                    </li>
                    <li class="mb-2">
                        <p class="text-uppercase font-weight-bold mb-0 sr-about-sequence">Email</p>
                        <p class="sr-about-sequence"><a href="mailto:justinlaureano@gmail.com">justinlaureano@justinlaureano.com</a></p>
                    </li>
                    <li class="mb-2">
                        <p class="text-uppercase font-weight-bold mb-0 sr-about-sequence">Github</p>
                        <p class="sr-about-sequence"><a href="http://www.github.com/JustinLaureano/">github.com/JustinLaureano/</a></p>
                    </li>
                </ul>
            </div>
    </div>
</section>

{% endblock %}