{% extends 'justin_laureano/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row"> <!-- BG Text -->
    <div class="col">
        <h1>Hello World</h1>
    </div>
</div> <!-- End BG Text -->

<div class="row"> <!-- Project Area -->

    <div class="col"> <!-- Hero Image -->

    </div> <!--  End Hero Image -->

    <div class="col"> <!-- Side Nav -->

    </div> <!-- End Side Nav -->

</div> <!-- End Project Area -->

<div class="row"> <!-- Details Area -->

    <div class="col"> <!-- Summary Area -->

    </div> <!-- End Summary Area -->

    <div class="col"> <!-- Tech Specs Area -->

    </div> <!-- End Tech Specs Area -->

</div> <!-- End Details Area -->

{% endblock %}