{% extends 'justin_laureano/base.html' %}
{% load staticfiles %}
{% block content %}

<header class="row">
    <div class="header-static col-12 py-3">
        <div class="logo-sm">
            <img src="{% static 'images/portfolio/logo.svg' %}" class="logo-img-sm" alt="Justin Laureano" height="25px">
            <div class="diamond-sm"></div>
        </div>
    </div>
</header>

<div class="row project-landing">
    <div class="col-10 col-sm-3 offset-1 align-self-center pl-0">
        <h1 class="text-nowrap sr-intro-sequence">News &<br>Photo Viewer</h1>
        <p class="gray detail py-2 sr-intro-sequence">
            Featuring a magazine styled layout, this custom designed photo and newsfeed website keeps me in the know and entertained with no distractions.
        </p>
        <a href="{% url 'news:home' %}" class="view-btn my-3 py-2 px-4 text-center view-btn" target="blank">Visit Site</a>
    </div>
    <div class="col-12 col-sm-8 mt-5 mt-sm-0 sr-laptop-right">
        <img src="{% static 'images/news/news_home_laptop.png' %}" class="news-home-laptop" alt="News &amp; Photo Viewer Laptop View" class="img-fluid">
    </div>
</div>
<div class="row my-5">
    <div class="col-10 col-sm-5 offset-1 overflow-hidden">
        <p class="text-uppercase font-weight-bold sr-intro-sequence">Identity</p>
        <p class="gray sr-intro-sequence">
            With so many news sites feeling cluttered and overwhelming, I wanted to create a contrasting user experience with a minimal layout focusing only on the necessary information.
        </p>
    </div>
    <div class="col-10 offset-1 col-sm-5 offset-sm-0 overflow-hidden">
            <p class="text-uppercase font-weight-bold sr-intro-sequence">Specs</p>
            <p class="gray sr-intro-sequence">
                The website is styled using modern HTML and CSS practices so that the experience is pleasant on all devices. Javascript and jQuery were used to retreive data using popular API'S.
            </p>
        </div>
</div>
<div class="row justify-content-center project-showcase" id="news-project-showcase">
    <div class="col-12 col-sm-8 text-center showcase-item">
        <img src="{% static 'images/news/news_photo_showcase.png' %}" alt="News &amp; Photo Viewer Tablet &amp; Phone View" class="img-fluid showcase-img">
    </div>
    <div class="col-12 col-sm-8 text-center showcase-item">
        <img src="{% static 'images/news/news_newsfeed_showcase.png' %}" alt="News &amp; Photo Viewer Tablet &amp; Phone View" class="img-fluid showcase-img">
    </div>
    <div class="col-12 col-sm-8 text-center showcase-item">
        <img src="{% static 'images/news/news_frontpage_showcase.png' %}" alt="News &amp; Photo Viewer Tablet &amp; Phone View" class="img-fluid showcase-img">
    </div>
</div>
<div class="row font-showcase" id="news-font-showcase">
    <div class="col-12 offset-sm-1 mt-3 mt-sm-0">
        <p class="text-uppercase font-weight-bold gray mb-1">Heading</p>
        <p class="text-uppercase font-weight-bold h3 tnr">Times New Roman</p>
        <p class="text-uppercase gray tnr mb-5">abcdefghijklmnopqrstuvwxyz</p>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
            <p class="text-uppercase font-weight-bold gray mb-1">Body</p>
            <p class="text-uppercase font-weight-bold h5 work-sans">Montserrat</p>
            <p class="text-uppercase gray montserrat mb-0">abcdefghijklmnopqrstuvwxyz</p>
            <p class="text-lowercase gray montserrat">abcdefghijklmnopqrstuvwxyz</p>
            <p class="text-lowercase gray montserrat">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus natus magni, sint praesentium assumenda corporis eaque impedit esse qui ut.</p>
        </div>
</div>

{% endblock %}