{% extends 'justin_laureano/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="row"> <!-- Project Title -->
    <div class="col-auto offset-2">
        <h2>PROJECT 51</h2>
        <h3>01 Lead Developer</h3>
    </div>
</div> <!-- End Project Title -->

<div class="row"> <!-- Project Specs -->
    <div class="col-3 offset-2">
        <p><strong>PROJECT 51</strong></p>
        <p>
            Bacon ipsum dolor amet prosciutto buffalo meatloaf rump venison porchetta landjaeger biltong. Chuck ham tail, biltong shank corned beef jowl. Tenderloin t-bone ribeye, spare ribs fatback chicken shoulder turkey pork
        </p>
    </div>
    <div class="col-3">
        <p><strong>TECHNICAL SPECIFICATIONSS</strong></p>
        <p>
            Bacon ipsum dolor amet<br> prosciutto buffalo meatloaf rump venison porchetta<br> landjaeger biltong.
        </p>
    </div>
</div> <!-- End Project Specs -->

<div class="row"><!-- Project Content -->
    <div class="col-8 offset-2">
        <img src="http://via.placeholder.com/765x400" class="img-fluid">
    </div>
</div> <!-- End Project Content -->


{% endblock %}