{% extends 'the_gathering/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="row" id="about-intro"> <!-- About Us Intro -->
    <div class="col-2"></div>
    <div class="col-8 text-center align-self-end">
        <h1>A Fine Collection of Food, Wine, and Spirits</h1>
        <br>
        <p>Whether you are looking for a casual or upscale fine dining experience, a superior selection of wine, spirits, or beer, the best outdoor patio experience in Findlay, an exclusive place to hold your next private event, or merely a place to relax, The Gathering, Gathering Wine, and Anvil Whiskey Bar offer an unsurpassed diversification of options that our staff wants to share with you.  Come “gather” with us!</p>
    </div>
    <div class="col-2"></div>
</div> <!-- End About Us Intro -->

<div class="row" id="about-gathering-hero"> <!-- Hero Image -->
    <div class="col-12">
        <img src="{% static 'images/gathering_storefront_horizontal.jpg' %}" alt="The Gathering" class="img-fluid welcome">
    </div>
</div> <!-- End Hero Image -->

<div class="row about" id="history"> <!-- History -->
    <div class="col-1"></div>
    <div class="col-10 about_gathering">

        <div class="row">
            <div class="col-lg-6 align-self-center" id="about-history-left">
                <img src="{% static 'images/artwork/wine.png' %}" alt="The Gathering" class="img-fluid welcome">
            </div>

            <div class="col-lg-6 order-2 order-md-1 text-left align-self-end" id="about_text">
                <h3>Our History</h3>
                <br>
                <p>Founded in 2010, Michael and Robin Gardner purchased the properties of what was once the Gathering and Downtowner transforming into The Gathering, Gathering Wine, and the Anvil Whiskey Bar – the premier dining and entertainment experience in downtown Findlay.<br/> The Gathering properties offer a unique blend of the finest culinary, wine, and spirits experiences in all of Northwest Ohio, featuring high-end steak, seafood, pasta and other distinctive, exquisite craft Americana dishes, combined with an incredible selection of wine, whiskey, bourbon, and craft beers. In fact, the wine selection and bourbon selection rival that of any large city in the Midwest.</p>
            </div>
        </div>

    </div>
    <div class="col-1"></div>
</div> <!-- End History -->

<div class="row" id="about_rest"> <!-- The Gathering -->
    <div class="col-lg-6 text-left align-self-center" id="about-gathering-text">
        <h3>The Gathering</h3>
        <br>
        <p>Offered at each of the Gathering properties, our Chef’s unique recipes provide guests an exceptional culinary experience at an affordable price. From the best burger and soups in town for lunch, to remarkable handcrafted appetizers and dinner selections, to made-from-scratch desserts, The Gathering is truly a 5-star dining experience.</p>
    </div>
    <div class="col-lg-6">
        <img src="{% static 'images/gathering_storefront_vertical.jpg' %}" alt="The Gathering" class="img-fluid welcome">
    </div>
</div> <!-- End The Gathering -->

<div class="row about" id="about-wine-box"> <!-- The Gathering Wine -->
    <div class="col-1"></div>
    <div class="col-10 about_gathering">
        <div class="row">
            <div class="col text-center align-self-center" id="about_wine">
                <h3 id="about-wine-title">The Gathering Wine</h3>
                <br>
                <p id="about-wine-text">Gathering Wine, located at 235 S. Main St. in downtown Findlay, is the city’s finest retail wine shop and wine bar featuring over six-hundred wines from around the world. Gathering Wine features a rotating menu of seventeen wines by the glass, or create your own flight of tasting portions as you relax in the upscale atmosphere of the bar, or adjourn to the patio and enjoy the outdoors.</p>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div> <!-- End The Gathering Wine -->

<div class="row" id="about-wine-hero"> <!-- Hero Image -->
    <div class="col">
        <img src="{% static 'images/wine_store.jpg' %}" alt="The Gathering Wine Store" class="img-fluid welcome">
    </div>
</div> <!-- End Hero Image -->

<div class="row about" id="about-patio-box"> <!-- The Patio -->
    <div class="col-1"></div>
    <div class="col-10 about_gathering">
        <div class="row">
            <div class="col text-center align-self-center" id="about_patio">
                <h3 id="about-patio-title">The Courtyard Patio</h3>
                <br>
                <p id="about-patio-text">The Patio, which adjoins The Gathering and Gathering Wine, is the perfect place to relax and enjoy a drink. The courtyard setting offers a secluded place to unwind and features two large murals by local artist, Oscar Velasquez. With live entertainment and an outdoor grill, the patio provides the perfect retreat from hustle and bustle of downtown.</p>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div> <!-- End The GPatio -->

<div class="row" id="about_anvil"> <!-- The Anvil -->
    <div class="col-lg-6">
        <img src="{% static 'images/anvil_liquor.jpg' %}" alt="The Gathering" class="img-fluid welcome">
    </div>
    <div class="col-lg-6 text-left align-self-center" id="about-anvil-text">
        <h3>The Anvil</h3>
        <br>
        <p>Anvil Whiskey Bar, located upstairs at The Gathering, is Findlay’s ultimate whiskey bar featuring over one-hundred twenty fine bourbons and scotches, as well as fourteen craft beers on tap and a full bar. Hang out and enjoy live entertainment every Friday and Saturday night and relax on our balcony overlooking the city. Anvil Whiskey Bar is the ultimate spot for private events in Findlay, Ohio.</p>
    </div>

</div> <!-- End The Anvil -->

{% endblock %}