<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>The Gathering</title>
        <!-- Loads the path to your static files -->
        {% load staticfiles %}
        <!-- Bootstrap CSS CDN -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Scroll Reveal -->
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    </head>
    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div id="dismiss">
                    <i class="fa fa-align-justify fa-sm" aria-hidden="true"></i>
                </div>

                <div class="sidebar-header">
                </div>

                <ul class="list-unstyled components">

                    <li>
                        <a href="{% url 'the_gathering:home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:eat' %}">Eat</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:drink' %}">Drink</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:shop' %}">Shop</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:events' %}">Events</a>
                    </li>
                    <li>
                        <hr/>
                    </li>

                    <li>
                        <a href="{% url 'the_gathering:about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:menus' %}">Menus</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:private_events' %}">Private Events</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:reservations' %}">Reservation</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:contact' %}">Contact</a>
                    </li>
                    <li>
                        <ul class="list-inline justify-content-left">

                            <li class="list-inline-item cat-item">
                                <a href="https://www.instagram.com/thegatheringfindlay/" >
                                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item cat-item">
                                <a href="https://www.facebook.com/FindlayGathering/" class="social">
                                    <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div class="container-fluid" id="content">
                <header class="text-center base-header">
                    <div class="row justify-content-end">
                        <div class="col-auto mr-4 white header-social">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="tel:419-422-5930" >
                                        <i class="fa fa-phone fa-sm" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/thegatheringfindlay/" >
                                        <i class="fa fa-instagram fa-sm" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/FindlayGathering/" >
                                    <i class="fa fa-facebook-f fa-sm" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-1 hamburger pl-5" id="sidebarCollapse">
                            <i class="fa fa-align-justify fa-sm" aria-hidden="true"></i>
                        </div>
                        
                        <div class="col-8 offset-1">
                            <div class="row justify-content-between">
                                <div class="col-auto"><a href="{% url 'the_gathering:eat' %}" class="header-nav">Eat</a></div>
                                <div class="col-auto"><a href="{% url 'the_gathering:drink' %}" class="header-nav">Drink</a></div>
                                
                                <div class="col-4">
                                    <a href="{% url 'the_gathering:home' %}" class="logo_text">
                                        <img src="{% static 'images/header_logo_text.png' %}" alt="The Gathering - Fine Food &amp; Spirits">
                                    </a>
                                </div>
                                
                                <div class="col-auto"><a href="{% url 'the_gathering:about' %}" class="header-nav">About</a></div>
                                <div class="col-auto"><a href="{% url 'the_gathering:menus' %}" class="header-nav">Menus</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <img class="logo" src="{% static 'images/header_logo.png' %}">
                        </div>    
                    </div>
                            
                </header>

                {% block content %}
                {% endblock %}


                <div class="row"> <!-- Horizontal Rule & Diamond -->
                    <div class="col">
                        <hr/>
                    </div>
                    <div class="diamond">

                    </div>
                    <div class="col">
                        <hr/>
                    </div>
                </div> <!-- End Horizontal Rule & Diamond -->

                <footer> <!-- Footer -->
                    <div class="container" id="footer"> <!-- Container -->

                        <div class="row"> <!-- Row -->
                            <div class="col-sm-2"> <!-- Logo -->
                                <a href="{% url 'the_gathering:home' %}">
                                    <img src="{% static 'images/logo.png' %}" alt="The Gathering - Fine Food &amp; Spirits" class="img-fluid">
                                </a>
                            </div> <!-- End Logo -->

                            <div class="col-sm-1"></div> <!-- Spacer -->

                            <div class="col-sm-5"> <!-- Address & Copyright -->
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        114 East Main Cross St. Findlay, OH 45840
                                    </li>
                                    <li class="list-inline-item">
                                        Tel. 1 419 422 5930
                                    </li>
                                </ul>
                                <p class="text-muted">&copy; 2018 The Gathering </p>
                            </div> <!-- End Address & Copyright -->

                            <div class="col-sm-4 text-sm-right text-xs-center"> <!-- Footer Navigation -->

                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="{% url 'the_gathering:menus' %}">Menu</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{% url 'the_gathering:about' %}">About</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{% url 'the_gathering:contact' %}">Contact</a>
                                    </li>
                                </ul>

                                <ul class="list-inline">
                                    <li class="list-inline-item cat-item">
                                        <a href="https://www.instagram.com/thegatheringfindlay/" >
                                            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item cat-item">
                                        <a href="https://www.facebook.com/FindlayGathering/" class="social">
                                            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div><!-- End Footer Navigation -->
                        </div> <!-- End Row -->

                    </div> <!-- End Container -->
                </footer> <!-- End Footer -->

            </div> <!-- End Content -->
        </div><!-- end Wrapper -->

        <div class="overlay"></div>

        <script src="{% static 'js/sr.js' %}"></script>

        <!-- jQuery CDN -->
        <script
                src="http://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>