<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>The Gathering</title>
        <!-- Loads the path to your static files -->
        {% load staticfiles %}
        <!-- Bootstrap CSS CDN -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Scroll Reveal -->
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    </head>
    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div id="dismiss">
                    <i class="fa fa-align-justify fa-sm" aria-hidden="true"></i>
                </div>

                <div class="sidebar-header">
                </div>

                <ul class="list-unstyled components">

                    <li>
                        <a href="{% url 'the_gathering:home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:eat' %}">Eat</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:drink' %}">Drink</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:shop' %}">Shop</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:events' %}">Events</a>
                    </li>
                    <li>
                        <hr/>
                    </li>

                    <li>
                        <a href="{% url 'the_gathering:about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:menus' %}">Menus</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:private_events' %}">Private Events</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:reservations' %}">Reservation</a>
                    </li>
                    <li>
                        <a href="{% url 'the_gathering:contact' %}">Contact</a>
                    </li>
                    <li>
                        <ul class="list-inline justify-content-left">

                            <li class="list-inline-item cat-item">
                                <a href="https://www.instagram.com/thegatheringfindlay/" class="social" target="blank">
                                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item cat-item">
                                <a href="https://www.facebook.com/FindlayGathering/" class="social" target="blank">
                                    <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div class="container-fluid" id="content">
                <header class="text-center base-header">
                    <div class="row justify-content-end">
                        <div class="col-auto mr-4 white header-social">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="tel:419-422-5930">
                                        <i class="fa fa-phone fa-sm" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/thegatheringfindlay/" target="blank">
                                        <i class="fa fa-instagram fa-sm" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/FindlayGathering/" target="blank">
                                    <i class="fa fa-facebook-f fa-sm" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-1 hamburger pl-5" id="sidebarCollapse">
                            <i class="fa fa-align-justify fa-sm" aria-hidden="true"></i>
                        </div>
                        
                        <div class="col-8 offset-1 main-nav">
                            <div class="row justify-content-between">
                                <div class="col-auto"><a href="{% url 'the_gathering:eat' %}" class="header-nav">Eat</a></div>
                                <div class="col-auto"><a href="{% url 'the_gathering:drink' %}" class="header-nav">Drink</a></div>
                                
                                <div class="col-4">
                                    <a href="{% url 'the_gathering:home' %}" class="logo_text">
                                        <img src="{% static 'images/header_logo_text.png' %}" alt="The Gathering - Fine Food &amp; Spirits">
                                    </a>
                                </div>
                                
                                <div class="col-auto"><a href="{% url 'the_gathering:about' %}" class="header-nav">About</a></div>
                                <div class="col-auto"><a href="{% url 'the_gathering:menus' %}" class="header-nav">Menus</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <img class="logo" src="{% static 'images/header_logo.png' %}">
                        </div>    
                    </div>
                            
                </header>

                {% block content %}
                {% endblock %}


                <footer class="text-center base-footer white">
    
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <img class="logo w-75" src="{% static 'images/header_logo.png' %}">
                        </div>
                    </div>
                        
                    <div class="row justify-content-around my-5">
                        <div class="col-md-3">
                            <h3 class="mb-4">The Anvil</h3>
                            <a href="tel:567-525-3235">
                                <p class="h6 white mb-2">567 525 3235</p>
                            </a>
                            <p class="text-uppercase font-weight-bold">Hours</p>
                            <p>Thurs: 5-11</p>
                            <p>Fri: 5-1</p>
                            <p>Sat: 7-2</p>
                            
                        </div>

                        <div class="col-md-3">
                            <h3 class="mb-4">The Gathering</h3>
                            <a href="tel:419-422-5930">
                                <p class="h6 white mb-2">419 422 5930</p>
                            </a>
                            <p class="text-uppercase font-weight-bold">Hours</p>
                            <p>Mon-Thurs: 11-2 | 5-9</p>
                            <p>Fri: 11-2 | 5-10</p>
                            <p>Sat: 5-10</p>
                        </div>

                        <div class="col-md-3">
                            <h3 class="mb-4">Gathering Wine</h3>
                            <a href="tel:567-525-3235">
                                <p class="h6 white mb-2">567 525 3235</p>
                            </a>
                            <p class="text-uppercase font-weight-bold">Hours</p>
                            <p>Mon-Thurs: 11-2 | 4-9</p>
                            <p>Fri: 11-2 | 4-11</p>
                            <p>Sat: 4-11</p>
                        </div>
                    </div>
                        
                    <div class="row justify-content-center" id="footer-nav-list">
                        <div class="col-12 footer-nav">
                            <ul class="list-inline" >
                                <li class="list-inline-item px-2"><a href="{% url 'the_gathering:eat' %}">Eat</a></li>
                                <li class="list-inline-item px-2"><a href="{% url 'the_gathering:drink' %}">Drink</a></li>
                                <li class="list-inline-item px-2"><a href="{% url 'the_gathering:shop' %}">Shop</a></li>
                                <li class="list-inline-item px-2"><a href="{% url 'the_gathering:events' %}">Events</a></li>
                                <li class="list-inline-item px-2"><a href="{% url 'the_gathering:about' %}">About</a></li>
                                <li class="list-inline-item px-2"><a href="{% url 'the_gathering:menus' %}">Menus</a></li>
                                <li class="list-inline-item px-2"><a href="{% url 'the_gathering:private_events' %}">Private</a></li>
                                <li class="list-inline-item px-2"><a href="{% url 'the_gathering:reservations' %}">Reservations</a></li>
                            </ul>        
                        </div>
                    </div>
                        
                    <div class="row justify-content-between mb-0">
                        <div class="col-auto m-4">
                            <p class="white">&copy; 2018 The Gathering</p>        
                        </div>

                        <div class="col-auto m-4 footer-social">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="tel:419-422-5930" class="social">
                                        <i class="fa fa-phonek fa-lg" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/thegatheringfindlay/" class="social" target="blank">
                                        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/GatheringWineAnvil/" class="social" target="blank">
                                        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>       
                        </div>
                        
                    </div>
                    
                </footer>


            </div> <!-- End Content -->
        </div><!-- end Wrapper -->

        <div class="overlay"></div>

        <script src="{% static 'js/sr.js' %}"></script>

        <!-- jQuery CDN -->
        <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>