{% extends 'the_gathering/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="row intro-text" id="contact-intro"> <!-- Contact Intro -->
    <div class="col-2"></div>
    <div class="col-6 align-self-end">
        <h1>Contact Us</h1>
        <br>
        <p>We would love to answer any questions you may have regarding event planning, special requests, or our food and products.</p>
    </div>
    <div class="col-4"></div>
</div> <!-- End Contact Intro -->

<div class="row box-row"> <!-- Contact Gathering -->
    <div class="col-md-6" id="contact-gathering-left">
        <div class="box-image" style="background: url({% static 'images/gathering_storefront_vertical.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;"></div>
    </div>
    <div class="col-md-6 box-text bg-white" id="contact-gathering-right">
        <h2>The Gathering</h2>
        <br>
        <div class="row">
            <div class="col-6">
                <h3>Phone</h3>
                <p>419 422 5930</p><h3>Location</h3>
                <p>114 East Main Cross St.</br>Findlay, OH 45840</p>
            </div>
            <div class="col-6">
                <h3>Hours</h3>
                <p><strong>Monday - Thursday</strong>
                    <br/>11-2<br/>5-9<br/>
                    <strong>Friday</strong>
                    <br/>11-2<br/>5-10<br/>
                    <strong>Saturday</strong>
                    <br/>5-10
                </p>
            </div>
        </div>

    </div>
</div> <!-- End Contact Gathering -->

<div class="row box-row"> <!-- Contact Wine -->
    <div class="col-md-6 order-2 order-md-1 box-text bg-black" id="contact-wine-left">
        <h2>The Gathering Wine</h2>
        <br>
        <div class="row">
            <div class="col-6">
                <h3>Phone</h3>
                <p class="bg-black">567 525 3235</p><h3>Location</h3>
                <p class="bg-black">235 South Main St.</br>Findlay, OH 45840</p>
            </div>
            <div class="col-6">
                <h3>Hours</h3>
                <p class="bg-black"><strong>Tuesday - Thursday</strong>
                    <br/>11-2<br/>4-9<br/>
                    <strong>Friday</strong>
                    <br/>11-2<br/>4-11<br/>
                    <strong>Saturday</strong>
                    <br/>4-11
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 order-1 order-md-2" id="contact-wine-right">
        <div class="box-image-black float-right" style="background: url({% static 'images/wine_rack.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;"></div>
    </div>
</div> <!-- End Contact Wine -->

<div class="row box-row"> <!-- Contact Anvil -->
    <div class="col-md-6" id="contact-anvil-left">
        <div class="box-image" style="background: url({% static 'images/anvil_bartop.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;"></div>
    </div>
    <div class="col-md-6 box-text bg-white" id="contact-anvil-right">
        <h2>The Anvil</h2>
        <br>
        <div class="row">
            <div class="col-6">
                <h3>Phone</h3>
                <p>567 525 3235</p><h3>Location</h3>
                <p>Upstairs at The Gathering</br>114 East Main Cross St.</br>Findlay, OH 45840</p>
            </div>
            <div class="col-6">
                <h3>Hours</h3>
                <p><strong>Tuesday - Thursday</strong>
                    <br/>11-2<br/>4-9<br/>
                    <strong>Friday</strong>
                    <br/>11-2<br/>4-11<br/>
                    <strong>Saturday</strong>
                    <br/>4-11
                </p>
            </div>
        </div>
    </div>
</div> <!-- End Contact Anvil -->


{% endblock %}