{% extends 'the_gathering/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="row" id="welcome"> <!-- Welcome Content -->
	<div class="col-2"></div>
    <div class="col-6 align-self-end">
        <h1>Eat</h1>
        <p>Offered at each of the Gathering properties, our Chef’s unique recipes provide guests an exceptional culinary experience at an affordable price. From the best burger and soups in town for lunch, to remarkable handcrafted appetizers and dinner selections, to made-from-scratch desserts, The Gathering is truly a 5-star dining experience.</p>
        <button type="button" class="btn-primary">View Menu</button>
    </div>
    <div class="col-4"></div>
</div> <!-- End Welcome -->



{% endblock %}