{% extends 'the_gathering/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row intro-text" id="listen-intro"> <!-- Listen Intro -->
    <div class="col-2"></div>
    <div class="col-6 align-self-end">
        <h1>Listen</h1>
        <br>
        <p>With live music every weekend, frequent food, whiskey, and wine tastings, along with movie and trivia nights, there is always something to check out at the Gathering!</p>
    </div>
    <div class="col-4"></div>
</div> <!-- End Listen Intro -->


{% for event in live_event %}
<div class="row box-row" id="listen-event"> <!-- Event -->
    <div class="col-md-6" id="listen-event-image">
        <div class="box-image" style="background: url({{ event.event_image.url }}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;"></div>
    </div>
    <div class="col-md-6 text-center box-text bg-white" id="listen-event-text">
        <h2>{{ event.event_name }}</h2>
        <h5>{{ event.event_date }}</h5>
        <h5>{{ event.event_time }}</h5>
        <h5>{{ event.event_venue }}</h5>
        <br>
        <p>{{ event.event_description }}</p>
    </div>
</div> <!-- End Event -->
{% endfor %}

<div class="row box-row"> <!-- Event -->
    <div class="col-md-6 order-2 order-md-1 box-text bg-black">
        <h2>Live Music featuring Chris Knopp</h2>
        <h5 class="bg-black">February 23</h5>
        <h5 class="bg-black">9pm - 12am</h5>
        <h5 class="bg-black">The Anvil</h5>
        <br>
        <p class="bg-black">Join us as we welcome Chris Knopp to Anvil Whiskey Bar! </p>
    </div>
    <div class="col-md-6 order-1 order-md-2">
        <div class="box-image-black float-right" style="background: url({% static 'images/live_events/chris_knopp.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;"></div>
    </div>
</div> <!-- End Event -->

{% endblock %}