{% extends 'the_gathering/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="row full">
    <div class="col-sm-12 text-center">
        <div class="bg-image flex-section justify-content-center" style="background: url({% static 'images/private_anvil.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;">
            <h1 class="content white">Private Events</h1>
            <div class="overlay"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="box-button negative-top-sm text-center">
                    <a href="{% url 'the_gathering:private_events' %}">
                        <img class="rounded-circle" src="{% static 'images/artwork/artichoke.jpg' %}" width="100" height="100">
                        <h2 class="white">Plan an Event</h2>
                        <div class="row"> <!-- Horizontal Rule & Diamond -->
                            <div class="col">
                                <hr class="sign-up" />
                            </div>
                            <div class="diamond">
                            </div>
                            <div class="col">
                                <hr class="sign-up" />
                            </div>
                        </div> <!-- End Horizontal Rule & Diamond -->
                        <p class="white">We can plan a special day(or night) just for you.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-button negative-top-sm text-center">
                    <a href="{% url 'the_gathering:menus' %}">
                        <img class="rounded-circle" src="{% static 'images/artwork/pasta.jpg' %}" width="100" height="100">
                        <h2 class="white">View Catering Menu</h2>
                        <div class="row"> <!-- Horizontal Rule & Diamond -->
                            <div class="col">
                                <hr class="sign-up" />
                            </div>
                            <div class="diamond">
                            </div>
                            <div class="col">
                                <hr class="sign-up" />
                            </div>
                        </div> <!-- End Horizontal Rule & Diamond -->
                        <p class="white">“From chicken wings to chateaubriand”.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <p class=" private-event-about">
            In addition to the great day-to-day services, our customers have come to enjoy the outstanding atmosphere of hosting private events at each of our facilities, including our spacious back patio. Each of the venues offers unique attributes that allow us to customize the event to the clients’ needs and provide a truly differentiated experience. From Bachelor/Bachelorette parties and weddings to board meetings to company holiday parties, or simply a great place to “gather” family and friends, you can reserve any of our venues exclusively for your use so you and your guests can cherish the intimate setting of a private event.
        </p>
        <div class="row"> <!-- Horizontal Rule & Diamond -->
            <div class="col">
                <hr class="sign-up" />
            </div>
            <div class="diamond">
            </div>
            <div class="col">
                <hr class="sign-up" />
            </div>
        </div> <!-- End Horizontal Rule & Diamond -->
    </div>
</div>
<div class="row">
    <div class="col-sm-10 offset-sm-1">
        <ul class="list-unstyled column-list text-center private-event-about">
            <li>Private Dining</li>
            <li>Office Lunches</li>
            <li>Wine Tasting & Classes</li>
            <li>Bachelor / Bachelorette Parties</li>
            <li>Weddings</li>
            <li>Baby Showers</li>
            <li>Board Meetings</li>
            <li>Company Holiday Parties</li>
            <li>Tasting Menus</li>
        </ul>
    </div>
</div>


{% endblock %}