{% extends 'the_gathering/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="row full">
    <div class="col-sm-12 text-center">
        <div class="bg-image flex-section justify-content-center" style="background: url({% static 'images/private_anvil.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;">
            <h1 class="content white">Private Events</h1>
            <div class="overlay"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="box-button negative-top-sm text-center">
                    <a href="{% url 'the_gathering:private_events' %}">
                        <img class="rounded-circle" src="{% static 'images/artwork/artichoke.jpg' %}" width="100" height="100">
                        <h2 class="white">Plan an Event</h2>
                        <div class="row"> <!-- Horizontal Rule & Diamond -->
                            <div class="col">
                                <hr class="sign-up" />
                            </div>
                            <div class="diamond">
                            </div>
                            <div class="col">
                                <hr class="sign-up" />
                            </div>
                        </div> <!-- End Horizontal Rule & Diamond -->
                        <p class="white">We can plan a special day(or night) just for you.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-button negative-top-sm text-center">
                    <a href="{% url 'the_gathering:menus' %}">
                        <img class="rounded-circle" src="{% static 'images/artwork/pasta.jpg' %}" width="100" height="100">
                        <h2 class="white">View Catering Menu</h2>
                        <div class="row"> <!-- Horizontal Rule & Diamond -->
                            <div class="col">
                                <hr class="sign-up" />
                            </div>
                            <div class="diamond">
                            </div>
                            <div class="col">
                                <hr class="sign-up" />
                            </div>
                        </div> <!-- End Horizontal Rule & Diamond -->
                        <p class="white">“From chicken wings to chateaubriand”.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}