{% extends 'the_gathering/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row" id="shop-intro"> <!-- Shop Intro -->
    <div class="col-2"></div>
    <div class="col-6 align-self-end">
        <h1>Shop</h1>
        <br>
        <p>We offer a selection of the finest wines from all over the world, and we want you to enjoy them when you are away from us as well. You can stop into the wine shop to view in person and speak to the knowledgeable staff for any questions.</p>
    </div>
    <div class="col-4"></div>
</div> <!-- End Eat Intro -->

<div class="row"> <!-- Gift Baskets -->
    <div class="col-md-6" id="shop-gift-basket-left">
        <img src="{% static 'images/gift_basket.jpg' %}" alt="Gift Basket" class="img-fluid welcome">
    </div>
    <div class="col-md-6 align-self-center" id="shop-gift-basket-right">
        <h2>Gift Baskets</h2>
        <br>
        <p>Check out our seasonal gift baskets on display in the Wine Shop.</p>
    </div>
</div> <!-- End Gift Baskets -->

<div class="row"> <!-- Wine -->
    <div class="col-md-6 order-2 order-md-1 align-self-center" id="shop-wine-left">
        <h2>Fine Wines</h2>
        <br>
        <p>We feature a full bar offering a vast selection of whiskey, bourbon, and other fine spirits, including special limited varieties.</p>
    </div>
    <div class="col-md-6 order-1 order-md-2" id="shop-wine-right">
        <img src="{% static 'images/wine_rack.jpg' %}" alt="Wine Rack" class="img-fluid welcome">
    </div>
</div> <!-- End Wine -->

<div class="row"> <!-- Gift Cards -->
    <div class="col-md-6" id="shop-giftcard-left">
        <img src="{% static 'images/gift_basket.jpg' %}" alt="Gift Cards" class="img-fluid welcome">
    </div>
    <div class="col-md-6 align-self-center" id="shop-giftcard-right">
        <h2>Gift Cards</h2>
        <br>
        <p>Order gift cards here good at all Gathering Properties..</p>
    </div>
</div> <!-- End Gift Cards -->
{% endblock %}