{% extends 'the_gathering/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row intro-text" id="shop-intro"> <!-- Shop Intro -->
    <div class="col-2"></div>
    <div class="col-6 align-self-end">
        <h1>Shop</h1>
        <br>
        <p>We offer a selection of the finest wines from all over the world, and we want you to enjoy them when you are away from us as well. You can stop into the wine shop to view in person and speak to the knowledgeable staff for any questions.</p>
    </div>
    <div class="col-4"></div>
</div> <!-- End Eat Intro -->

<div class="row box-row"> <!-- Gift Baskets -->
    <div class="col-md-6" id="shop-gift-basket-left">
        <div class="box-image" style="background: url({% static 'images/gift_basket.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;"></div>
    </div>
    <div class="col-md-6 box-text bg-white" id="shop-gift-basket-right">
        <h2>Gift Baskets</h2>
        <br>
        <p>Check out our seasonal gift baskets on display in the Wine Shop.</p>
    </div>
</div> <!-- End Gift Baskets -->

<div class="row box-row"> <!-- Wine -->
    <div class="col-md-6 order-2 order-md-1 box-text bg-black" id="shop-wine-left">
        <h2>Fine Wines</h2>
        <br>
        <p class="bg-black">We feature a full bar offering a vast selection of whiskey, bourbon, and other fine spirits, including special limited varieties.</p>
    </div>
    <div class="col-md-6 order-1 order-md-2" id="shop-wine-right">
        <div class="box-image-black float-right" style="background: url({% static 'images/wine_rack.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;"></div>
    </div>
</div> <!-- End Wine -->

<div class="row box-row"> <!-- Gift Cards -->
    <div class="col-md-6" id="shop-giftcard-left">
        <div class="box-image" style="background: url({% static 'images/dessert_closeup.jpg' %}) no-repeat center center;background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;"></div>
    </div>
    <div class="col-md-6 box-text bg-white" id="shop-giftcard-right">
        <h2>Gift Cards</h2>
        <br>
        <p>Order gift cards here good at all Gathering Properties..</p>
    </div>
</div> <!-- End Gift Cards -->

{% endblock %}